<h1>Community</h1>

<!DOCTYPE html>
<html>
  <head>
    <h1>Who we are</h1>
      <p>Here we are, a community of poets and writers</p>
    <style>
      img {
        border-radius: 8px;
        display: block;
        margin: auto;
        width: 50%;
      }

      /* Email styles need to be inline */
    </style>
  </head>
  <body style="background-color:powderblue">


<% @writers.each do |writer| %>
  <h2><%= writer.name %></h2>
  <img src="<%= writer.image_url %>">

<% end %>


<h2>July Westhale</h2>
  <img src="http://www.julywesthale.com/wp-content/uploads/2011/11/DSC_0298-BW-3-585x883.jpg">
  <p>Westhale is a poet and writer living in Oakland, CA. She is the author of Trailer Trash (winner of the 2016 Kore Press Book Award), The Cavalcade (Finishing Line Press), and the children’s book Occasionally Accurate Science (Nomadic Press). She has been awarded grants and residencies from the Vermont Studio Center, the Lambda Literary Foundation, Sewanee, and Bread Loaf, among others. Her nonfiction has won the Inscape Editor’s Choice Award, and has been nominated for Best American Essays and the Pushcart prize.  She is a regular contributor at The Establishment, and her work has also appeared in The Huffington Post. Her most recent poetry can be found in The National Poetry Review, burntdistrict, Eleven Eleven, 580 Split, Quarterly West, and PRISM International. www.julywesthale.com</p>
  <p>She has an MFA in Poetry from Lesley University.</p>
<div>
    <p>Ars Poetica

  One would like to see oneself walking through the forest as two girls,
    along a creek, the golden carp under the ice like blurred poppies.
  The tall, hooded girl will extend a basket, offering bread and water, a kindly
    face and a thick cloak.
  The other is small, with sly hands. She will eat her fill, wrap herself
    in the warmth of the wool cloak, cut a branch from a tree.
  Whittling the end to a point, she will pull the arrow back, and shoot it
    into the throat of the hooded girl. She will retrieve the basket.
  </p>
</div>
  <%= link_to "July(http://www.julywesthale.com/)" %>

<h2>BM Spaethe</h2>
  <img src="https://static1.squarespace.com/static/572d27c862cd94614011b76d/t/5730d774e707eb16f9ad17ac/1462818679244/1278075_10102885771637438_1496989267_o.jpg?format=300w">
  <p>Brandi M. Spaethe received her MFA in poetry from Fresno State where she worked for The Normal School and The Philip Levine Prize for Poetry. Her poems have appeared in The New Engagement (nominated for a Pushcart Prize), Off the Rocks: An Anthology of GLBT Writing, Minola Review, and BLOOM, to name a few. Her chapbook, To You Who Wants In, was released in December 2012. Brandi received the 2012 C.G. Hanzlicek Poetry Writing Fellowship and was a poetry fellow in the 2013 Lambda Literary Foundation's Emerging Writer's Retreat. She is the program associate at Poets and Writers' California Office, festival coordinator for Lambda LitFest, and teaches at California State University, Los Angeles.</p>
  <p>Studied Creative writing at California State University, Fresno
Past: Purdue University</p>
  <p>An Exit

She picks the milk from the shelf as I massage
a sponge into the morning’s bowls. In the quiet,

I know she’s reading the expiration date while
the garbage truck shirks from a distance. Faucet

hums closed and she says, “Babe, are you going
to drink this?” It’s been a couple of weeks since

I opened it, dashed it over my cereal. “I think
it’s still good. Leave it in there, I’ll drink it.” But

I know I won’t. Not until the thick and thin white
have separated, not until it’s begun to expand,

not until she opens it, sniffs, proclaims,
“You let it go bad, again” will I say, “I had to be sure.”</p>
  <p>http://bloomliteraryjournal.org/</p>
  <%= link_to "BM (http://bspaethe.com/)" %>

<h2>Jeanne Thorton</h2>
  <img src="http://i.imgur.com/abr6pSQ.jpg">
  <p>JEANNE THORNTON is the author of the novels The Dream of Doctor Bantam (a Lambda Literary Award finalist in 2012) and The Black Emerald, as well as one of the publishers of Instar Books. She lives in Brooklyn.</p>
  <p>Antioch University</p>
  <p>sample</p>
  <%= link_to "Jeanne (http://fictioncircus.com/)" %>


<h2>Aimee Harrison</h2>
  <img src="http://i.imgur.com/oQhVJ3om.jpg">
  <p>bio</p>
  <p>Studied at University of Washington Bothell
and Massachusetts Institute of Technology (MIT) and Rutgers Preparatory School</p>
  <p>sample</p>
  <%= link_to "Aimee (http://aimeecharrison.com)" %>


<h2>Keith Jay</h2>
  <img src="http://i.imgur.com/HdadtH6.jpg">
  <p>Keith Jarrett, poet not pianist. Living and working in London, as a spoken word artist and educator... also working on a first novel.

Former London and UK Poetry Slam! champ, and short story stringer-togetherer. I've set up poetry workshops for schools and taught Spanish. Now one of six Spoken Word Educator trainees teaching at a secondary school in East London and studying at Goldsmiths; the project is the first of its kind in Europe. For more information, please get in touch!</p>
  <p>PhD Birkbeck, University of London</p>
  <p>sample</p>
  <%= link_to "Keith (http://zoneonetosix.blogspot.com/)" %>

  <h2>Crys Lehman</h2>
  <img src="">
  <p>bio</p>
  <p>education</p>
  <p>sample</p>
  <%= link_to "Crys" %>






    <%= yield %>
  </body>
</html>
