<h1>Community</h1>

<!DOCTYPE html>
<html>
  <head>
    <h1>Who we are</h1>
      <p>Here we are, a community of poets and writers</p>
    <style>
      img {
        border-radius: 8px;
        display: block;
        margin: auto;
        width: 50%;
      }
      div.ars {
        font-size: 20px;
        color: black;
      }
      div.blackemerald {
        width: 40em;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      div.blackemerald:hover {
        overflow: visible;
      }
    </style>
  </head>
  <body style="background-color:powderblue">


<% @writers.each do |writer| %>
  <h2><%= writer.name %></h2>
  <img src="<%= writer.image_url %>">

<% end %>


<h2>July Westhale</h2>
  <img src="http://www.julywesthale.com/wp-content/uploads/2011/11/DSC_0298-BW-3-585x883.jpg">
  <p>Westhale is a poet and writer living in Oakland, CA. She is the author of Trailer Trash (winner of the 2016 Kore Press Book Award), The Cavalcade (Finishing Line Press), and the children’s book Occasionally Accurate Science (Nomadic Press). She has been awarded grants and residencies from the Vermont Studio Center, the Lambda Literary Foundation, Sewanee, and Bread Loaf, among others. Her nonfiction has won the Inscape Editor’s Choice Award, and has been nominated for Best American Essays and the Pushcart prize.  She is a regular contributor at The Establishment, and her work has also appeared in The Huffington Post. Her most recent poetry can be found in The National Poetry Review, burntdistrict, Eleven Eleven, 580 Split, Quarterly West, and PRISM International. www.julywesthale.com</p>
  <p>She has an MFA in Poetry from Lesley University.</p>
<div class="ars">
    <p><strong>Ars Poetica</strong></p>

  <p>One would like to see oneself walking through the forest as two girls,
    along a creek, the golden carp under the ice like blurred poppies.
  The tall, hooded girl will extend a basket, offering bread and water, a kindly
    face and a thick cloak.
  The other is small, with sly hands. She will eat her fill, wrap herself
    in the warmth of the wool cloak, cut a branch from a tree.
  Whittling the end to a point, she will pull the arrow back, and shoot it
    into the throat of the hooded girl. She will retrieve the basket.
  </p>
</div>
  <%= link_to "More from July", "http://www.julywesthale.com/" %>

<h2>BM Spaethe</h2>
  <img src="https://static1.squarespace.com/static/572d27c862cd94614011b76d/t/5730d774e707eb16f9ad17ac/1462818679244/1278075_10102885771637438_1496989267_o.jpg?format=300w">
  <p>Brandi M. Spaethe received her MFA in poetry from Fresno State where she worked for The Normal School and The Philip Levine Prize for Poetry. Her poems have appeared in The New Engagement (nominated for a Pushcart Prize), Off the Rocks: An Anthology of GLBT Writing, Minola Review, and BLOOM, to name a few. Her chapbook, To You Who Wants In, was released in December 2012. Brandi received the 2012 C.G. Hanzlicek Poetry Writing Fellowship and was a poetry fellow in the 2013 Lambda Literary Foundation's Emerging Writer's Retreat. She is the program associate at Poets and Writers' California Office, festival coordinator for Lambda LitFest, and teaches at California State University, Los Angeles.</p>
  <p>Studied Creative writing at California State University, Fresno
Past: Purdue University</p>
  <p><strong>An Exit</strong></p>

<p>She picks the milk from the shelf as I massage
a sponge into the morning’s bowls. In the quiet,

I know she’s reading the expiration date while
the garbage truck shirks from a distance. Faucet

hums closed and she says, “Babe, are you going
to drink this?” It’s been a couple of weeks since

I opened it, dashed it over my cereal. “I think
it’s still good. Leave it in there, I’ll drink it.” But

I know I won’t. Not until the thick and thin white
have separated, not until it’s begun to expand,

not until she opens it, sniffs, proclaims,
“You let it go bad, again” will I say, “I had to be sure.”</p>
  <p>Buy BM's poetry at <%= link_to "Bloom Literary Journal","http://bloomliteraryjournal.org/"%></p>
  <%= link_to "BM", "http://www.bspaethe.com" %>

<h2>Jeanne Thorton</h2>
  <img src="http://i.imgur.com/abr6pSQ.jpg">
  <p>JEANNE THORNTON is the author of the novels The Dream of Doctor Bantam (a Lambda Literary Award finalist in 2012) and The Black Emerald, as well as one of the publishers of Instar Books. She lives in Brooklyn.</p>
  <p>Antioch University</p>
 <div class="blackemerald">
  <p>From online maps she knew how far away Harmon Metzger’s house was supposed to be, but on Capital Metro buses it seemed to take far longer. The bus was stuffed with people en route to clearly terrible jobs, people who had to take this bus every day, and among them were people who had obviously never held jobs, could never hold jobs, could never want jobs or understand what jobs could do for you. There were kids visiting friends, eyes vacant and locked on smartphone games; there were whole families sitting too stoically, Reagan thought, for a weekend; the families sat across multiple seats with strollers, diaper bags, fanny packs, an ancient Polaroid camera around patriarchal necks—we’re gonna have fun today kids, right kids, right kids, the mother was saying—and Lava Caves Road was in the extreme south of town; there was nothing beyond it; where could this family possibly be going that would be so fun; maybe they would take the bus all the way to the end of the line, get out and take photos next to the terminal sign, alone on a deserted road, then they would turn around and get back on the bus going in the other direction, get back to where they’d started and snap photos of their neighborhood, get to bed early so they could get up for work in the morning, on evenings invite friends over to see photo slides of the terminus and the front of their own house; maybe riding the bus had become their entire lives.
At every stop, it seemed, there was a panhandler, leather-skinned and wearing kerchiefs, olive drab caps, aviators; they all approached the door with folding cardboard signs, crumpled pieces of paper, backs of books, all bearing desperate messages in Sharpie and sweat stains in the shape of fingers and palms. They stopped a good three feet from the door and waited politely for the people getting off to come to them. Reagan tried not to make eye contact with them.
It was a mile walk from the bus stop to Harmon Metzger’s death house, a walk where the sidewalk kept disappearing and the shoulder of the road flexed from a full and generous line to mere molecules of asphalt where the yellow department of transportation road paint had missed or had faded away from age and never been replaced, and then the sidewalk was gone and Reagan found herself in crusheddown grass strewn with Coke bottles and supermarket bags of junk food wrappers and household trash as giant cars tore past her right shoulder at eighty miles per hour and airplanes tore up the sky to her left, taking off and landing from the airport that squatted like an anthill at the edge of long fields.
Eventually the desolation tapered off into a micro-suburb, maybe three streets crossing in either direction like a lizard’s tail torn from the body of the main city and still whipping around on the echo of a missing nervous system. She found Metzger’s house easily. The man at the comic shop had not been wrong; the place looked as if it had started as a kind of Spanish-style shack from the 1950s and then been subject to a series of Dr. Mengele home improvements, modifications, additions, avocado-and-magenta paint jobs. Layers of clashing paint showed through one another in a kind of nauseating, aspirational vitiligo. The yard hadn’t been touched since Metzger’s suicide, or so it looked, and the mixture of bermuda grass, dandelions, fire ant mounds, and fallen branches that made up the landscaping scraped the bottom of the windowsills and shook in unison when wind shot from jet engines across the fields.
It was easy to break into this terrible place. Whole sections of fence were missing, and the back door didn’t even have a lock. Other people had figured this out long before Reagan: ancient sleeping bags lay abandoned on the carpet, and beer bottles and microwave dinner packaging stained the coffee table, sat empty on the shelves, lay in the corners where boots had kicked them. A kid had spraypainted something difficult to make out across one full wall of the kitchen: OBAMA NUKES, or something like it, was the icing that topped dozens of woven graffiti tags on the same wall like the history of a dead empire gouged into stone tablets. Behind the graffiti there were fields of whiter spaces against the cigarette-yellow cast of the walls’ original paint job, holes drilled into sheet rock and wall studs in those white fields, evidence that something had hung on these walls—paintings? drawings? photographs?―something that someone had taken away forever.
And yet beyond the main room, where the squatters had spent their time, the place was eerily immaculate, orderly like the bedroom of a troubled child. Different rooms boasted rows of toy soldiers, robots, Russian dolls with their jewel-eyes glittering from the shelves. Stacks of paperback books covered every other surface—cheap sci-fi, doomsday prophecies, Jungian pop-psych, histories of cults, the odd nineteenth century American classic in dirt cheap reprint edition— all the books trued at the edges and covered in dust. A Felix the Cat clock ticked on the wall, one of its shifty eyes put out and the tail no longer connected to the inner workings of the clock but hanging loosely from wires, lashing back and forth like the end of a knotted rope as the clock gears advanced. She moved through the space, not wanting to breathe: despite the strange order of the room, the never-filtered air felt thick with accumulated grime, with desiccated parts of roaches and spiders. If she breathed these would come in, reassemble inside her.
She looked in the bathroom where according to the owner of the comic shop Metzger had done it. The bathroom was the cleanest part of the house, the baseboards scrubbed and the mirror spotless despite the dust, sparkling in what sun came through the red curtains. Reagan opened the curtains the rest of the way; the dull steel bar above the shower glowed like foundry metal. She put her finger on the bar and traced its faint curve back to the wall. There was a hairline crack in the paint where the bar joined the sheet rock; she could look into the dark hole formed and see crumbs of plaster, the beginnings of webs. She rested her finger on the crack and felt a needle of wind on the ridges of her finger, some secret conduit of air that ran through these walls from the world outside.
There was no desk or drafting table or any evidence of where Metzger might have worked. The round kitchen table, on second inspection, was scarred with knife marks, and all the chairs were missing.
She found the bedroom easily: a low mattress on a black metal frame, a blanket with lighthouses stretched over it, neatly tucked and folded. There was a squat Danish nightstand with a paperback on it, some publication by a cult that related to time travel, a page folded back to mark a place. She sat on Metzger’s bed and opened the book. Whole paragraphs had not just been crossed out but cross-hatched out, as if great black spiders had nested on the page. The crosshatching made her eyes burn, and she put the book down and took a long breath. She could feel the dust making room for her.
She stretched out on the suicide’s bed and closed her eyes. Outside the tangle of lawn was moving, and a sluggish ice cream truck played Turkey in the Straw, its melody oozing between the houses. She felt the dust in the air shift and the long-calcified sweat of the suicide’s covers start to melt and coat her skin, and she imagined the suicide was in the room with her, the toilet just flushed and water still restoring itself, his slow shuffle back to the window, grumble of curses, Venetian blinds opening and shutting, his hands putting a record on the weary portable player on the shelf. She imagined him though she knew nothing about Harmon Metzger: his career, his childhood, why he had evidently never found a wife or found anyone at all in the world, where he went when he left his house and got in his car and drove to be driving somewhere, anywhere else, whether he had masturbated in this bed, what he had thought about if he had, what songs could make him cry, how he had felt as the initial blush of fame, or just monetary success, or just the ability to pay basic bills and food costs, basic self-sufficiency, how he had felt as these things had fled him, what it had felt like to him to make the vases-into-profiles shift from being young with success just around the corner to being old and failed—she knew nothing about him, only knew that lying in his bed and listening to the weeds and dogs of
Lava Caves road howl felt good to her. She felt for the first time that she had never really been to sleep before, only closed her eyes and went away, and now the quickening sweat of the room held her tight like a blanket, and it was like a trap door had opened at the bottom of the sleep she had known about before and she descended through it like she was riding on the roof of a rusty ancient elevator, gently swaying on its counterweight, into a deeper, richer cavern of sleep, where if she shouted to the unseen walls of her new unconsciousness it might take years for the echo to come back.
§
She woke up; the sun was nearly down and the bedroom was already blue and dark. She got out of bed, head aching, and went to the closet. The bottom shelf was a row of nearly identical brown boat shoes with one pair of huaraches, the sole perforated by a nail. Behind the sandals she found a black bag with white machine-printed letters: ESPN DEPORTES. The bag was heavy and something cold was inside. To touch it felt like she was handling ice through an oven mitt. She unzipped the bag; it was full of paper towels. She took out a wad of towels and peeled them free of the heavy thing they protected. A vast oval gemstone, the diameter of a salad plate, flattened out on the top and bottom and myriad facets askew to one another along the outer rims. It was an emerald, so green it was black.
She set it on the ground in front of her and stared, breathing heavily, at this thing she had discovered.
Something was moving inside the black emerald. She looked closer, but no, nothing was moving, was it: it had almost been a black tendril, a string of ink dissolving in water, but maybe it had only been the last movement of the setting sun.
She put the emerald in her backpack and left the death house, walked into the back yard and closed the lockless door behind her. The evening wind had increased as the Monday overseas commuters took off on their night flights to Europe or Singapore or wherever  and the tangled mass of lawn was wrenching from side to side from the suck of the engines that cried overhead. It was just a matter of finding the path she’d made in the lawn when she’d come in a lifetime ago, and then a matter of sitting at the bus stop along Lava Caves Road for an hour and twenty minutes before the night bus rolled in late from the terminus, its seats empty but for a shaking old woman, the driver playing Mingus album cuts on an out-ofdate tape deck and refusing to give Reagan change for the ride back uptown.
</p>
 </div>
  <%= link_to "Fiction Circus", "http://fictioncircus.com/" %>


<h2>Aimee Harrison</h2>
  <img src="http://i.imgur.com/oQhVJ3om.jpg">
  <p>Aimee Harrison is managing editor of Essay Press, and a co-founder of Small Po[r]tions. She lives in Albany.</p>
  <p>Studied at University of Washington Bothell
and Massachusetts Institute of Technology (MIT) and Rutgers Preparatory School</p>
  <p>sample</p>
  <%= link_to "Aimee", "http://aimeecharrison.com" %>
cs

<h2>Keith Jay</h2>
  <img src="http://i.imgur.com/HdadtH6.jpg">
  <p>Keith Jarrett, poet not pianist. Living and working in London, as a spoken word artist and educator... also working on a first novel.

Former London and UK Poetry Slam! champ, and short story stringer-togetherer. I've set up poetry workshops for schools and taught Spanish. Now one of six Spoken Word Educator trainees teaching at a secondary school in East London and studying at Goldsmiths; the project is the first of its kind in Europe. For more information, please get in touch!</p>
  <p>PhD Birkbeck, University of London</p>
  <p>sample</p>
  <%= link_to "To purchase I Speak Home", "https://www.paypal.com/webapps/shoppingcart?mid=9089661249192203361504681493349348&flowlogging_id=e9f1d7ac4b37b#/checkout/shoppingCart" %></br>
  <%= link_to "Zone One To Six", "http://zoneonetosix.blogspot.com/" %>



    <%= yield %>
  </body>
</html>
