<h1>Community</h1>
<p>Find me in app/views/welcome/community.html.erb</p>

<!DOCTYPE html>
<html>
  <head>
    <h1>Who we are</h1>
      <p>Here we are, a community of poets and writers</p>
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
  <ul class="ladies">
    <li><%= link_to "July" %></li>
    <li><%= link_to "Brandy" %></li>
    <li><%= link_to "Jeanne" %></li>
    <li><%= link_to "next" %></li>
    <li><%= link_to "next" %></li>
  </ul>

<h2>July Westhale</h2>
  <img src="">
  <p>bio</p>
  <p>education</p>
  <p>sample</p>
  <%= link_to "July" %>

<h2>BM Spaethe</h2>
  <img src="">
  <p>bio</p>
  <p>education</p>
  <p>sample</p>
  <%= link_to "BM" %>

<h2>Jeanne Thorton</h2>
  <img src="">
  <p>bio</p>
  <p>education</p>
  <p>sample</p>
  <%= link_to "Jeanne" %>


<h2>Aimee Harrison</h2>
  <img src="">
  <p>bio</p>
  <p>education</p>
  <p>sample</p>
  <%= link_to "Aimee" %>


<h2>Keith London</h2>
  <img src="">
  <p>bio</p>
  <p>education</p>
  <p>sample</p>
  <%= link_to "Keith" %>

  <h2>Crys Lehman</h2>
  <img src="">
  <p>bio</p>
  <p>education</p>
  <p>sample</p>
  <%= link_to "Crys" %>






    <%= yield %>
  </body>
</html>
