<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      body {background-color:linen;
      }
    </style>
  </head>

<h1>Donations</h1>
  <body>

<p>Let me introduce myself. Hi! I'm M.Jean.Felix a Haitian-American writer and artist from Boston. I'm an Edie Winsdor Scholar thro Lesbian Who Tech and this is my first fully running site. Its not perfect but its a great start for someone who had only known Ruby for a few short days.</p>
<p>I'm currently attending the General assembly WDI Immersive boot camp, which is incredibly challenging.</p>

<p>I have written a novel called 'Seven Days in Port-au-Prince about my family's experience during the earthquake that devasted Haiti in 2010, an exceprt of which appears in the Lambda literary Foundation anthology Emerge. You can purchase a copy of it at this link.

<%= link_to "Emerge: 2015 Lambda Literary Fellows in Fiction, Poetry, Non­fiction, Genre Fiction and Playwriting", "https://www.amazon.com/Emerge-Marissa-Johnson-Valenzuela-ebook/dp/B01HDXWGJY/ref=sr_1_1?ie=UTF8&qid=1493696629&sr=8-1&keywords=emerge+lambda+literary" %></br></p>

<p>Any donations would be greatly appeciated!</p>

<%= link_to "IndieGogo", "https://www.generosity.com/education-fundraising/help-send-me-to-the-lwt-summit-in-nyc" %></br>

<p>After the earthquake that struck Haiti in 2010 I was asked to join the 2nd Ghetto Biennale: A Salon de Refuse, where I performed a piece that was a meditation on the Haitian Diaspora. I gathered items from the debris around Port-au-Prince and created a human figure, which I carried on my back walking the full distance from where my mother was from, Jacmel, to where my father is from Port-au-Prince. It is a distance of 72 kilometers hiking through the mountains. Here is a link to that project.
<%= link_to "2nd Ghetto Biennale: A Salon de Refuse", "http://www.yoonsoo.com/ghetto/files/archive-files/melitza.html" %></br>

<p>I received an M.F.A. in Creative Writing and the novel 'Seven Days in Port-au-Prince was my thesis project. Here is a link to my thesis reading</p>
<%= link_to "CCA Reading", "http://www.bspaethe.com" %></br>
<p>I am also a Lambda Literary Emering Writers Fellow several times over, here are links to my readings with that wonderful foundation.</p>
<%= link_to "Lambda Literary Foundation Reading 2013", "https://vimeo.com/album/2505442/video/73165679" %></br>
<%= link_to "Lambda Literary Foundation Reading 2015", "https://vimeo.com/135119719" %></br>
    <%= yield %>
  </body>
</html>
