<!DOCTYPE html>
<html>
  <head>
    <title>SeriesTwo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
 <p> Hi Felicia! Yes it's another one of <em>those</em> sites</p>
  <p>
    <%= link_to 'Sign Up', new_writer_path %>
  </p>

    <%= yield %>
  </body>
</html>
